SERVER_PORT=8010
SERVER_HOST=127.0.0.1
SERVER_HOSTNAME=127.0.0.1:8010

MONGODB_URI=mongodb://127.0.0.1:27017/api-quiz
MONGODB_MAXTIME_MS=60000
MONGODB_DEBUG=false
MONGODB_INDEX_PROFILING_LEVEL=2
MONGODB_URI_TEST=mongodb://127.0.0.1:27017/api-quiz-test

SECRET_ACCESS_TOKEN=secret_access_token
SECRET_ACCESS_TOKEN_EXPIRE=900000
SECRET_REFRESH_ACCESS_TOKEN=secret_refresh_access_token
SECRET_REFRESH_ACCESS_TOKEN_EXPIRE=3600000

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

CACHE_ENABLED=true
CACHE_REDIS=true
CACHE_TTL=true

EMAIL_SERVICE='gmail'
EMAIL_AUTH_TYPE='OAuth2'
EMAIL_AUTH_USER=
EMAIL_AUTH_CLIENT_ID=
EMAIL_AUTH_CLIENT_SECRET=
EMAIL_AUTH_REFRESH_TOKEN=
EMAIL_AUTH_TOKEN=

DOCKER_ENABLED=false
